*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color:#eee;
}
div,h2,p{
    display:block;
}
article, aside, footer, header, hgroup, main, nav, section{
    display:block;
}
header{
    display:flex;
    border:1px solid #d6cccc;
    border-radius: 3px;
    background-color:#ddd;
}
#img-title{
    max-width:400px;
    padding:10px;
    margin-left:20px;
    display:flex;
    justify-content: center;
    text-align:center;
    align-items:center;
}
#header-img{
    width:100%;
    height:100%;
}
nav{
    width:50%;
    text-align:center;
    padding:30px;
    font-weight:400;
    margin-left:300px;
    font-weight: bolder;
}
nav ul {
    display:flex;
    justify-content: space-around;
    flex-direction:row;
    width:35vm;
}
a{
    color:#000;
    text-decoration: none;
}

section{
    padding:10px;
    margin-top:20px;
    text-align:center;
    margin-bottom:100px;
}

.desc{
    margin-bottom:20px;
}
#email{
    margin-top:5px;
    padding:5px;
    margin-bottom:10px;
    width:300px;
    height:35px;
    border:1px solid #696868;
    border-radius: 3px;
}
#submit{
    padding:10px;
    border:1px solid #696868;
    background-color:#333;
    color:#eee;
    width:125px;
    
}
.contener{
    max-width:1000px;
    width:100%;
    margin:0 auto;
}
.grid{
    display:flex;
}
.icon{
    display:flex;
    justify-content: center;
    align-items: center;
    width:20vm;
    height:125px;
}
.description{
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: left;
    text-align: left;
    padding:5px;
    width:80vm;
    height:125px;
}

#how-it-work{
    max-width:1000px;
    width:100%;
    padding:10px;
    margin:30px;
}

#work{
    border:1px solid #eee;
    border-radius: 50%;
    width:300px;
    height:300px;
    text-align:center;
}

#pricing{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top:70px;
}

.tromb{
    display:flex;
    border:1px solid #333;
    border-radius: 10px;
    text-align: center;
    align-items:center;
    width:calc(100%/3);
    flex-direction: column;
    line-height: 30px;
    background-color:#726c6c;
    height:350px;
    margin: 10px;
    margin-left:30px;
}
.tromb .hprice{
    padding:5px;
    background:#ddd;
    border:1px solid #ddd;
    border-radius: 10px;
    width: 100%;
}
.price{
    padding:5px;
    margin-top:20px;
    margin-bottom:20px;
    font-size:50px;
}
#submit1{
    padding:10px;
    border:1px solid #696868;
    background-color:#baa000;
    color:#FFF;
    width:125px;
    margin:20px;
}
footer ul{
    display:flex;
    justify-content: space-around;
    padding:10px;
    margin:10px;
    align-items:center;
}
footer p{
    text-align: center;
    
}
footer{
    background-color:#ddd;
    padding:5px;
    font-weight: bolder;

}